body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  background-color: #aca9ac;
  width: 500px;
  height: 200px;
  margin-top: 20px;
  margin-left: 200px;
  padding: 20px;
  border-radius: 10px;
}

.buttonhey {
  background-color: #ffffff;
  width: 50px;
  height: 20px;
  border: none;
  margin-top: 5px;
  margin-left: 70px;
  border-radius: 10px;
}

.test {
  background-color: #dab2da;
  width: 500px;
  height: 200px;
  margin-top: 20px;
  margin-left: 200px;
  padding: 20px;
  border-radius: 10px;
}
